*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
USFWordAssociation/bin/com/WordAssociation/Path.class
USFWordAssociation/bin/com/WordAssociation/USFWordAssociation.class
USFWordAssociation/bin/seward/wordassociation/WordAssociation.class
USFWordAssociation/bin/seward/wordassociation/WordPath.class
